<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gift-a-Cheer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/styles1.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8VKPWQFFT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-V8VKPWQFFT');
  </script>


</head>

<body class="index">
  <div class="container">
    <img src="/public/logoA.png" alt="Logo" class="logo">
    <h1 class="header">Welcome to the Gift-a-Cheer Website</h1>
    <p class="description">
        We have embarked on Objectives and Key Results (OKRs) for this year's work deliverables. <br>
        This website encourages you to share your OKRs and support each other.
        Develop your four superpowers: <strong>Focus</strong>, <strong>Align</strong>, <strong>Track</strong>, and <strong>Stretch</strong>, while we <strong class="bold-word">Gift-a-Cheer</strong> to each other in our OKR journey!
    </p>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="background-image: url('/public/okr_background.jpg');">
                <div class="card-body">
                  <h6 class="card-title">Refresh OKRs</h6>
                  <a href="https://okrinstitute.org/" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" style="background-image: url('/public/key_in_okrs.jpg');">
                <div class="card-body">
                  <h6 class="card-title">Share OKRs</h6>
                  <a href="page2.html" class="btn btn-primary">OKRs Form</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" style="background-image: url('/public/gift-a-cheer.jpg');">
                <div class="card-body">
                  <h6 class="card-title">Gift OKRs</h6>
                  <a href="page3.html" class="btn btn-primary">Gift-a-Cheer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- You can add more carousel-item divs with rows of cards if needed -->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  
    
<!-- Disclaimer -->
<div class="disclaimer">
  <p class="disclaimer-text">
      Disclaimer: <br>
      This website is created for learning purposes only.
      The information provided here should not be considered professional advice. <br>
      Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. <br>
      Any actions you take based on the contents of this website are at your own risk.
      We are not liable for any losses or damages incurred from the use of this website.
  </p>
</div>
 <!-- jQuery, Popper.js, and Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="/public/scripts1.js"></script>
</body>
</html>
