/* Global styles */
body {
    background-color: #f2e3e6;(120, 62%, 96%);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    min-height: 100vh; /* Allow content to expand */
    padding-top: 20px; /* Separate logo from top edge */
}
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Separate logo from the text */
}

.intro-paragraph {
    font-size: 1.2em;
    font-weight: bold;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(244, 235, 209, 0.1);
    margin-top: 20px; /* Add space between logo and table */
}

#okrTable {
    width: 100%;
    border-collapse: collapse;
}

#okrTable th, #okrTable td {
    border: 1px solid #058a1b;
    padding: 8px;
    text-align: center; /* Center table headers and cells */
}

#okrTable th {
    background-color: #058a1b;
    font-weight: bold;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #022c09ad;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #9deeaa;
}


/* Cheer Section with emoticons */
.cheer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoticon-container {
    display: flex;
}

.emoticon-container input[type="radio"] {
    margin-right: 10px;
}

.emoticon-container label {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.cheer-input {
    margin-top: 10px; /* Adjust as needed */
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* New styles for the "I am..." column */
th:nth-child(7),
td:nth-child(7) {
    text-align: center;
}

.cheer-name {
    width: 100px; /* Adjust width as needed */
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;
    color: #999; /* Grey color */
}

.cheer-name:focus {
    color: #333; /* Change color when focused */
}

.cheer-name::placeholder {
    color: #ccc; /* Greyed-out placeholder color */
}


.disclaimer {
    margin-top: 20px; /* Add space between table and disclaimer */
    font-size: 0.8em; /* Adjust font size as needed */
    color: #666; /* Adjust color as needed */
    text-align: center;
}
